.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-header {
    margin-bottom: 10px;
  }
  
  .dropdown-button {
    padding: 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f9f9f9;
  }